.button{
    height:2rem;
    width:8rem;
    margin:1rem;
    /* background:green; */
    border-radius:5px;
    /* color:white; */
    border:none;
    cursor:pointer;
}
.container{
    margin:5px;
    padding:0;
}